[submodule "Libraries/RTCLib"]
	path = Libraries/RTCLib
	url = https://github.com/adafruit/RTCLIB.git
[submodule "Libraries/Adafruit_GFX_Library"]
	path = Libraries/Adafruit_GFX_Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "Libraries/Adafruit_LED_Backpack_Library"]
	path = Libraries/Adafruit_LED_Backpack_Library
	url = https://github.com/adafruit/Adafruit_LED_Backpack.git
